@use "./common/variables.scss" as *;

#root {
  margin: 0 auto;
  text-align: center;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

input {
  border: 1px solid $peach;
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}
