@use "./variables.scss" as *;

#root {
  margin: 0 auto;
  text-align: center;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

input,
select {
  border: 1px solid $peach;
  border-radius: 10px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

button {
  border: 1px solid orange;
  background-color: white;
  color: orange;
  border-radius: 30px;
  width: 4rem;
  height: 1.7rem;
  font-size: large;
}
